#page-room {
  header {
    padding: 24px;
    border-bottom: 1px solid #212020;

    .content {
      max-width: 1128px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;

        button {
          height: 40px;
        }
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 24px;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #f1f1f1;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #191919;
        color: #fff;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 138px;
      }

      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;
        color: #737388;

        span {
          font-size: 14px;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #5a37da;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .user-info {
        display: flex;
        align-items: center;

        > img {
          width: 32px;
          height: 32px;
          border-radius: 999px;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: #ddddde;
          margin-left: 12px;
        }
      }
    }

    .question-list {
      margin-top: 32px;
    }
  }
}

.endRoomModal {
  display: flex;
  flex-direction: column;
  background: #29292e;

  width: 590px;
  height: 362px;

  margin: auto;

  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 8px;

  gap: 24px;

  h2 {
    color: #fefefe;
    font-size: 26px;
  }

  p {
    color: #ffffff;
    font-size: 18px;
  }

  .actions {
    display: flex;
    gap: 24px;

    button {
      background: #dbdcdd;
      color: #737380;
      border: 0;
      width: 159px;
      height: 48px;
      border-radius: 8px;
      font-weight: 500;
      cursor: pointer;

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }

      &.confirm {
        background: #e73f5d;
        color: #fefefe;
      }
    }
  }
}

.endRoomModalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
