.question {
  background: #191919;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  p {
    color: #fefefe;
  }

  &.highligted {
    background: #000000;
    border: 1px solid #5a37da;

    footer .user-info span {
      color: #dbdcdd;
    }
  }

  &.answered {
    background: #3e3e3e;

    footer .user-info > img {
      filter: grayscale(1);
    }

    footer .like-button {
      cursor: not-allowed;
      &:hover {
        filter: none;
      }

      &.liked {
        color: #737380;

        svg path {
          stroke: #737380;
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      > img {
        width: 32px;
        height: 32px;
        border-radius: 999px;
      }

      span {
        font-size: 14px;
        color: #b1b1b5;
        margin-left: 12px;
      }
    }

    > div {
      display: flex;
      gap: 16px;
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;

      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;

        svg {
          gap: 8px;
        }

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }
  }
}
