.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background: #29292e;
  border: 1px solid #5a37da;
  cursor: pointer;

  display: flex;

  div {
    height: 100%;
    background: #5a37da;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: #fff;
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}
